html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    /* background-image: linear-gradient(to top right, #bfdcae, #7ea04d, #335d2d); */
    background-image: url('..\\..\\images\\background.gif');
    /* background-image: radial-gradient(white 5%, #1A1A1D 80%, #000 15%); */
  }
  
  .joinInnerContainer {
    width: 20%;
  }
  
  .joinInput {
    border-radius: 20px;
    border : 2px solid blue;
    padding: 15px 20px;
    width: 100%;
  }
  
  .heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }
  
  .button {
      color: #fff !important;
      border-radius : 15px;
      text-transform: uppercase;
      text-decoration: none;
      background: #03506f;
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
      cursor: pointer
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 640px) {
    .joinOuterContainer {
      height: 100vh;
      background-image: url('..\\..\\images\\background.gif');
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    }


  
    .joinInnerContainer {
      width: 90%;
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }